<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dromeland ActivityStream: <%= activity_title %></title>
    <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/style.css?version=20150218001">

    <script src="/js/jquery-1.11.2.min.js"></script>

    <!-- EmojiOne!!! BEGIN -->
    <script src="//cdn.jsdelivr.net/emojione/1.3.0/lib/js/emojione.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/emojione/1.3.0/assets/css/emojione.min.css" />
  </head>

  <body id="activity"
        <%= 'class="bad-configuration"' if Auidrome::ActivityStream.bad_configuration? %>>
    <script>
      $(document).ready(function() {
        $('.emojiable_content').each(function( index ) {
          $(this).html(emojione.toImage($(this).html()));
        });
      });
    </script>
    <!-- EmojiOne!!! END -->

    <div class="header">
      <div>nando's</div> 
      <h1><a href="/activity" title="<%= ENV['AUIDROME_STREAM_ACTOR'] %>'s activity in Dromeland">Dromeland</a></h1>
    </div>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">

          <div class="activity">
            <div class="cardinal_points emojiable_content">
              <a href="<%= southeast_drome.url %>" class="southeast_cardinal_point">:<%= southeast_drome.emoji %>:</a>
              <a href="<%= southwest_drome.url %>" class="southwest_cardinal_point">:<%= southwest_drome.emoji %>:</a>

              <a href="<%= south_drome.url %>" class="south_cardinal_point">:<%= south_drome.emoji %>:</a>
              <a href="<%= east_drome.url %>" class="east_cardinal_point">:<%= east_drome.emoji %>:</a>
              <a href="<%= north_drome.url %>" class="north_cardinal_point">:<%= north_drome.emoji %>:</a>
              <a href="<%= west_drome.url %>" class="west_cardinal_point">:<%= west_drome.emoji %>:</a>

              <a href="<%= northeast_drome.url %>" class="northeast_cardinal_point">:<%= northeast_drome.emoji %>:</a>
              <a href="<%= northwest_drome.url %>" class="northwest_cardinal_point">:<%= northwest_drome.emoji %>:</a>
            </div>
            <%= yield %>
          </div>

        </div>
      </div>
    </div>

    <div class="footer">
      <div><strong>Dromeland</strong> is the stream of <%= ENV['AUIDROME_STREAM_ACTOR'] %>'s Auidrome entries (its "dromed" entries).</div>
      <div>Auidrome source code is <a href="http://github.com/AuiDrome/auidrome">on GitHub</a> and the ActivityStream is provided by <a href="http://getStream.io">getStream</a>.</div>
    </div>

  </body>
</html>
