        <div class="activity">
<% if @page == 0 %>
          <div class="first-action-header">❧ HOME ☙</div>
<% else %>
          <div class="pagination">
            <p>
              »<a href="?page=<%= @page - 1 %>"> NEXT</a> »
            </p>
          </div>
<% end %>

          <div id="content">
            <%= "─" * 14 %>
<% @actions.each_with_index do |action, index| %>
<%= between_actions_fleuron unless index == 0 %>
            <div class="action">
              <p>At <%= action['time'] %> <a href="/me#TODO:show.AUIDROME_STREAM_ACTOR.entry">I</a> <strong><%= action['verb'] %></strong></p>
              <p class="tuit"><a href="<%= action['object'] %>"><%= action['tuit'] %></a></p>
              <p>in the <em><%= action['target'].split(':').first.capitalize %></em></p>
            </div>
<% end %>
            <%= "─" * 14 %>
          </div>


<% if @next =~ /id_lt/ %>
          <div class="pagination">
            <p>« <a href="?page=<%= @page + 1 %>">PREVIOUS </a>«</p>
          </div>
<% else %>
          <div class="last-action-footer">START</div>
<% end %>
        </div>
