<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dromeland ActivityStream: <%= activity_title %></title>
    <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/style.css?version=20150218001">
  </head>

  <body id="activity"
        <%= 'class="bad-configuration"' if Auidrome::ActivityStream.bad_configuration? %>>
    <div class="header">
      <div>nando's</div> 
      <h1><a href="/activity" title="<%= ENV['AUIDROME_STREAM_ACTOR'] %>'s activity in Dromeland">Dromeland</a></h1>
    </div>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
        <%= yield %>
        </div>
      </div>
    </div>

    <div class="footer">
      <div><strong>Dromeland</strong> is the stream of <%= ENV['AUIDROME_STREAM_ACTOR'] %>'s Auidrome entries (its "dromed" entries).</div>
      <div>Auidrome source code is <a href="http://github.com/AuiDrome/auidrome">on GitHub</a> and the ActivityStream is provided by <a href="http://getStream.io">getStream</a>.</div>
    </div>

  </body>
</html>
