
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div<%= ' class="cover-container"' unless @tuit_image.quality > 1 %>>
          <section id="tuit" class="<%= App.config.drome_of_humans? ? 'human' : 'other' %>">
            <article>
              <a href="<%= @tuit_image.href %>">
                <img src="<%= @tuit_image.src %>" alt="<%= @tuit.auido %> image" class="<%= @tuit_image.class %> icon"/>
              </a>

                <h1 id="auido">
                  <%= auido_title @tuit %>
                </h1>
<% if App.config.drome_of_humans? and @tuit.identity.any? %>
                <span class="identities">
                (<% @tuit.identity.each do |identity| %><span class="identity"><%= identity %></span> <% end %>)
                </span>
<% end %>
                <div class="tuit-properties">
<% if Tuit.exists? @tuit.auido %>
                  <div>
                    <a href="<%= @tuit.json_url %>">JSON-LD</a>
                  </div>
<% end %>
                  <div>Created at
                    <span class="date" id="date"><%= @tuit.created_at %></span>
                  </div>

<% if @tuit.madrino.any? %>
                  <div><%= App.config.drome_of_humans? ? 'Madrino' : 'Announcer' %><%= 's' if @tuit.madrino.size > 1 %>
                  <% @tuit.madrino.each do |madrino| %>
                    <span class="madrino">
                  <%   if pedaler = Auidrome::Human.pedalers[madrino.to_sym] %>
                         <a href="<%= Auidrome::Config.pedalodrome.url %>tuits/<%= pedaler %>"><%= pedaler %></a>
                  <%   else %>
                         <%= madrino %>
                  <%   end %>
                    </span>
                  <% end %>
                  </div>
<% end %>

<%# Identity and trust/hope buttons :) %>
<% unless (@tuit.madrino + @tuit.identity).include? current_user %>
  <% unless %w{Auidrome Ripodrome Fictiondrome}.include?(App.config.site_name) %>
                  <form action="/admin/its-me/<%= @tuit.auido %>">
                    <button><%= me_or_by_me_button_text %></button>
                  </form>
  <% end %>
  <% unless @tuit.madrino.include? current_user %>
                  <form action="/admin/amadrinate/<%= @tuit.auido %>">
                    <button><%= amadrinate_or_authorship_button_text %></button>
                  </form>
  <% end %>
<% end %>

<%# Properties %>
                  <div class="other-properties clearfix">
<% @tuit.other_properties.each do |property_name| %>
<%# TODO(CRITICAL): PARSE THIS ATTR BEFORE DOING ANYTHING WITH IT!!!! %>
<%# TODO: DO ALL THIS BETTER/WELL-DONE (add HAML?) %>
                    <div>
                      <span class="property_name"><%= property_name_with_links(property_name) %></span>
                      <span class="property_value <%= property_name %>">
<%   Array(@tuit.send(property_name)).each do |value| %>
                        <span class="emojiable_content">

<%     if property_name == :images %>
                          <img src="<%= value %>"/>
<%     elsif Tuit.hrefable_property?(property_name, value) %>
                          <a href="<%= Tuit.href_for property_name, value %>"><%= value %></a>
<%     elsif Tuit.embeddable_property?(property_name, value) %>
                          <%= Tuit.embed_for property_name, value %>
<%     else %>
                          <%= value %>
<%     end %>
                        </span>
<%   end %>
                      </span>
                    </div>
<% end %>
                  </div>
                </div>
            </article>

<% if current_user %>
              <script src="/js/jquery.autocomplete.min.js"></script>
              <script>
                $(function(){
                  drome_urls = <%= Auidrome::Config.drome_urls.to_json %>;
                  property_to_drome = <%= @property_to_drome.to_json %>;
                  var property_names_with_mapped_drome = <%= @property_names_for_autocomplete.to_json %>;
                  
                  $('#property_name').autocomplete({
                    lookup: property_names_with_mapped_drome,
                    onSelect: function (suggestion) {
                      $('#property_name').val(suggestion.data);
                    }
                  });
                });
              </script>

              <form id="property_form" action="/admin/property/<%= @tuit.auido %>" method="POST">
                <input id="property_name" type="text" name="property_name" value="" size="8" />
                <input id="property_value" type="text" name="property_value" value="<%= get_value_from_referrer %>" />
                <button>Push!</button>
              </form>
<% end %>
          </section>
        </div>
      </div>
    </div>
